<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%=dayInput%> List</h1>
    </div>

    <div class ="box">
        
        <% for (var x = 0; x < newListItem.length; x++){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input value="<%=newListItem[x]%>" name="checkbox" type="checkbox" onChange="this.form.submit()">
                    <p><%=newListItem[x]%></p>
                </div>
                <input type="hidden" name="listName" value="<%= dayInput %>">
            </form>
            
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button" value=<%= dayInput %>>+</button>
        </form>

        <% /* %> <form class="item" action="/" method="post">
            <input type="text" name="clearList" placeholder="Clear List" autocomplete="off" disabled>
            <button type="submit" name="button" value="clear">-</button>
        </form> <% */ %>
    </div>

    

<%- include("footer") -%>